
.page { 
    width: 100%;
    padding-left: 20%;
}
.link {
    color: inherit
    }
.link :visited{
color: inherit
}


.titleBorder {border-bottom: 0.07142855em double #444; color: #000; }
.title {margin-bottom: 0; font: normal 3.5em/2 "Georgia", sans-serif; text-align: center;}
.contact {    
    font-size: 13pt;
    font-style: italic;
    text-align: center;
}
.contactItem {
    margin: 0 !important;
    padding: 0 !important;
}

.resumeHeader {
    margin-bottom: 10px
}

.secondHalf {
    display: flex;
    justify-content: space-between;
    margin-top: 5%
}

.spacer {margin-top: 25%}

.sharedSpace {
    width: 40%;
}

/*h3 {display: inline-block; margin-top: 0; padding-top: 0;}*/
.time {font-size: 10pt; font-weight: normal; float: right; margin-top: 0; padding-top: 0; } /* 16 / 20 */

